* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.popup{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    padding: 20px;
    background-color: wheat;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
   
}

#accept{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#accept:hover {
    background-color: #45a049;
  }

#deny{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deny:hover{
    background-color: #ff000090;
}